html {
  min-width: 0%;
}
h1.title {
  position: absolute;
  margin-left: 500px;
}
#map {
  position: absolute;
  top: 10;
  left: 10;
  background-color: blue;
}
.col-xs-12, .panel, .container{
  height: 100%;
}
